<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                
                <div class="col">
                    <div class="footer-widget">
                        <div class="footer-logo mb-3">
                            <a href="index.html" class="logo-bg-white">
                                <img src="../Image/logo/Asset 2@5x.png"
                                    class="img-fluid" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>PRIVACY</h3>
                        </div>
                        <ul>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Chính sách bảo vệ</a></li>
                            <li><a href="#">Cookies</a></li>                            
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>SERVICES</h3>
                        </div>
                        <ul>
                            <li><a href="#">Thực đơn</a></li>
                            <li><a href="#">Kế hoạch nấu ăn</a></li>
                            <li><a href="#">Cộng đồng xanh</a></li>       
                            <li><a href="#">Câu chuyện xanh</a></li>                         
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>ABOUT US</h3>
                        </div>
                        <ul>
                            <li><a href="#">Địa chỉ</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Về chúng tôi</a></li>                                                  
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>INFORMATION</h3>
                        </div>
                        <ul>
                            <li><a href="#">Tham khảo chi phí</a></li>
                            <li><a href="#">Bán sản phẩm</a></li>
                            <li><a href="#">Việc làm</a></li>                              
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>