<div class="top-bar py-1">
    <div class="container d-flex justify-content-between align-items-center" style="height: 20PX;">


    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container position-relative">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand mx-auto" href="#">
            <div class="logo-cluster">
                <a href="/index.html"> <img src="/Image/logo/Asset 2@5x.png" alt="Logo" class="logo-main bg-white"></a>
            </div>
        </a>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto fw-bold nav-custom d-flex flex-lg-row align-items-center">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuThucDon" role="button"
                        aria-expanded="false">Thực đơn</a>
                    <ul class="dropdown-menu custom-dropdown-box" aria-labelledby="menuThucDon">
                        <li><a class="dropdown-item" href="/ThucPhamXanh.html">Danh mục thực phẩm</a></li>
                        <li><a class="dropdown-item" href="/DanhMucMonAn.html">Danh mục món ăn</a></li>
                        <li><a class="dropdown-item" href="/TheoNhuCauDinhDuong.html">Danh mục dinh dưỡng</a></li>
                    </ul>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/KeHoachNauAn.html" id="menuMachNho" role="button"
                        aria-expanded="false">Kế hoạch nấu ăn</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/CongDongXanh.html">Cộng đồng xanh</a></li>
                <li class="nav-item"><a class="nav-link" href="/CauChuyenXanh.html">Câu chuyện xanh</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container hero-section mt-4 position-relative">

    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators mb-5">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner shadow-sm">
            <div class="carousel-item active">
                <img src="../Image/Banner/Banner.png" class="d-block w-100" alt="Banner 1">
            </div>
            <div class="carousel-item">
                <h2><img src="../Image/CauChuyenXanh/BANNER.png" class="d-block w-100 " alt="Banner 2"></h2>
            </div>
            <div class="carousel-item">
                <h2><img src="../Image/CauChuyenXanh/banner 3.png" class="d-block w-100 " alt="Banner 2"></h2>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark bg-opacity-50 rounded-circle p-3"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark bg-opacity-50 rounded-circle p-3"></span>
        </button>
    </div>

    <div class="search-overlap-wrapper">
        <div class="search-box bg-white p-4 rounded-4 shadow-lg text-center">
            <h3 class="search-title">Hơn 2.000 Công thức món ngon và dễ làm</h3>
            <div class="input-group-custom d-flex align-items-center bg-light border rounded px-2 py-1">
                <span class="px-2 text-muted"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control border-0 bg-transparent shadow-none"
                    placeholder="Nhập món bạn đang tìm kiếm...">
                <button class="search-btn  ms-2 rounded"><i style="color: white;"
                        class="fas fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="popular-search-wrapper mt-5">
            <p class="text-uppercase text-muted text-center mb-2" style="font-size: 15px; letter-spacing: 0.5px;">Tìm
                kiếm phổ biến</p>

            <div class="d-flex justify-content-center flex-wrap mt-3 gap-2">
                <a href="#" class="search-tag">Giáng Sinh</a>
                <a href="#" class="search-tag">Tết</a>
                <a href="#" class="search-tag">Thực Đơn Hàng Ngày</a>
                <a href="#" class="search-tag">Món Chay</a>
                <a href="#" class="search-tag">Ăn Kiêng</a>
                <a href="#" class="search-tag">Thực Đơn Dinh Dưỡng</a>
            </div>
        </div>

    </div>

</div>